lab-1
lab-2/test/Debug
lab-2/test/test
lab-2/test/pch.h
lab-2/test/test.vcxproj
lab-2/test/pch.cpp
lab-2/test/test.vcxproj.user

lab-2/memalloc/Debug
lab-2/memalloc/.vs
lab-2/memalloc/memalloc
lab-2/memalloc/packages
lab-2/memalloc/memalloc.log
lab-2/memalloc/memalloc.sln
lab-2/memalloc/memalloc.vcxproj.user
lab-2/memalloc/memalloc.vcxproj
lab-2/memalloc/memalloc.vcxproj.filters
lab-2/test/packages.config
.git