.vscode
lab-2
lab-1/working_list/.vs
lab-1/working_list/Debug
lab-1/working_list/working_list.sln
lab-1/working_list/working_list/Debug
lab-1/working_list/working_list/working_list.vcxproj
lab-1/working_list/working_list/working_list.vcxproj.filters
lab-1/working_list/working_list/working_list.vcxproj.user
lab-1/working_list/working_list/printer.c
lab-1/working_list/TESTWL/Debug
lab-1/working_list/TESTWL/TESTWL.vcxproj
lab-1/working_list/TESTWL/TESTWL.vcxproj.user
lab-1/working_list/TESTWL/packages.config
lab-1/working_list/packages
