################################################################################
# Данный GITIGNORE-файл был автоматически создан Кротиковым
################################################################################

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Project1/
*.txt

